<h2>log in</h2>

<%= tag.div(flash[:alert], style: "color:red") if flash[:alert] %>
<%= tag.div(flash[:notice], style: "color:green") if flash[:notice] %>

<%= form_with url: session_path, data: { turbo: false } do |form| %>
  <div>
    <%= form.label :name, "Name" %><br>
    <%= form.text_field :name, required: true, autofocus: true, autocomplete: "username", placeholder: "Enter your name", value: params[:name] %>
  </div>
  <div>
    <%= form.label :password, "Password" %><br>
    <%= form.password_field :password, required: true, autocomplete: "current-password", placeholder: "Enter your password" %>
  </div>
  <div>
    <%= form.check_box :remember_me %>
    <%= form.label :remember_me, "Remember me" %>
  </div>
  <%= form.submit "Log in", class: "btn btn-info btn-sm" %>
<% end %>
<%= link_to "Sign up", new_user_path %><br>
<%= link_to "Forgot password?", new_password_path %>
