<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-5">

      <h2>User info</h2>

      <%= form_with model: @user, class: "w-100" do |f| %>

        <p>Name<br>
        <%= f.text_field :name, autofocus: true, id:"inputName", class: "form-control" %></p>
  
        <p>Image<br>
        <%= f.file_field :profile_image, accept: "image/*" %></p>
  
        <p>Introduction<br>
        <%= f.text_area :introduction, class: "form-control" %></p>
  
        <p><%= f.submit "Update User", class: "btn btn-secondary" %></P>

      <% end %>

    </div>
  </div>
</div>